<div class="visually-hidden">
  <h1><%= t 'show.title' %></h1>
</div>

<div class="container mt-5">
  <div class="row gx-5">
    <div class="col-md-6">
      <div class="p-3">
        <h2 class="mb-5 text-uppercase">
          <%= t 'show.login' %>
        </h2>
        <%= render partial: "users/account/new_session" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-3">
        <h2 class="mb-5 text-uppercase">
          <%= t 'show.create_account' %>
        </h2>
        <%= render "users/account/new_registration" %>
      </div>
    </div>
  </div>
</div>
